---
import Header from "components/EnsayoHeader.astro"
import Footer from "components/EnsayoFooter.astro"
import GlobalHead from "components/GlobalHead.astro"

import { getAutor } from "utils/autores"
import { ensayoMetadataSchema } from "utils/validation.ts"

const metadata = ensayoMetadataSchema.parse(Astro.props.content)
const cabezeraUrl = `${Astro.request.url.href}/${metadata.cabezera.src}`
const autor = getAutor(metadata.autor)
---

<html lang="es">
  <head>
    <GlobalHead />
    <title>{metadata.titulo}</title>
    <!-- <meta name="description" content="" /> -->
    <meta property="og:title" content={metadata.titulo} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={cabezeraUrl} />
    <meta property="og:url" content={Astro.request.url.href} />
  </head>

  <body class="font-display">
    <Header />

    <main class="max-w-screen-xl mx-auto px-4">
      <h1
        class="text-center leading-none tracking-tight text-4xl sm:text-5xl md:text-7xl font-bold mt-8"
      >
        {metadata.titulo}
      </h1>
      <div class="flex items-center justify-center gap-2 text-sm md:text-base mt-4 md:mt-8 mb-8">
        <img src={autor.avatar} alt={autor.nombre} class="rounded-full w-8 h-8 md:w-12 md:h-12" />
        <div class="leading-none">
          <p>{autor.nombre}</p>
          <p class="text-gray-600 hover:text-red-500 transition-colors">
            <a href={autor.instagramUrl} target="_blank" rel="noopener noreferrer">
              @{autor.handle}
            </a>
          </p>
        </div>
      </div>
      <div class="prose prose-red lg:prose-xl mx-auto">
        {!metadata.cabezera.omitir && <img src={cabezeraUrl} alt={metadata.cabezera.alt} />}
        <slot />
      </div>
    </main>

    <Footer />
  </body>
</html>
